<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>Display all users:</h2>
  <aside>
    <ul>
      <li *ngFor='let item of userModel'>
        User ID: {{item.id}}  Name: {{item.name}}  Email: {{item.email}}
      </li>
    </ul>
  </aside>

  <h2>Get a specific user by entering id below:</h2>
  <input type="number" min="1" max="10" step="1" [(ngModel)]='selectedID' />
  <button (click)="onConfirm($event)">GO</button>
  <!-- <p>User ID: {{selectedUser.id}}  Name: {{selectedUser.name}}  Email: {{selectedUser.email}}</p> -->
  <form>
    User ID: <input type="text" value={{selectedUser.id}}><br>
    User Name: <input type="text" value={{selectedUser.name}}><br>
    UserName: <input type="text" value={{selectedUser.username}}><br>
    User email: <input type="text" value={{selectedUser.email}}><br>

  </form>
  <!-- <app-user-form></app-user-form> -->
</div>



